---
import Layout from "../layouts/Layout.astro";
import CardProyect from "../components/CardProyect.astro";
---

<Layout>
  <section class="w-full min-h-screen flex flex-col justify-center items-center gap-5 p-5">
    <h1 class="text-5xl font-bold text-center">Proyectos</h1>
    <p class="text-xl opacity-80 text-center">
      Aquí puedes ver algunos de mis proyectos.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
      <CardProyect
        image="/images/Captura de pantalla (60).png"
        title="The brow army"
        description="Página web desarrollada para un centro de estética. Incluye secciones informativas, contacto y una tienda en línea para productos relacionados. La interfaz está optimizada para ofrecer una experiencia fluida en dispositivos móviles y de escritorio, destacando la estética profesional y la identidad de la marca."
        url="https://thebrowarmy.com/"
        target="_blank"
      />
      <CardProyect
        image="/images/Captura de pantalla (61).png"
        title="Psiconline"
        description="Página web creada para una plataforma de servicios psicológicos en línea. Diseñada para facilitar el acceso a información sobre terapias, consultas virtuales y recursos de bienestar emocional. Su estructura clara y profesional asegura una navegación intuitiva, adaptada tanto para dispositivos móviles como de escritorio."
        url="https://psicosonline.com/"
        target="_blank"
      />
      <CardProyect
        image="/images/Captura de pantalla (62).png"
        title="Proyecto 3"
        description="Descripción del proyecto 3"
        url="https://example.com/proyecto3"
        target="_blank"
      />
     
    </div>
  </section>
</Layout>
