<header class="flex items-center justify-between p-4 mx-auto">
    <img class="w-16 rounded-full" src="/public/images/matias.webp" alt="Photo-matias">
    <div>
        <nav class="flex space-x-10 mx-10"> 
            <a href="/">About</a>
            <a href="/proyects">Proyects</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>
